@import "tailwindcss";

/* Paksa light mode selalu */
:root {
  color-scheme: light;
}

html {
  background-color: #f9fafb;
  /* sama kayak bg-gray-50 */
  color: #111827;
  /* sama kayak text-gray-900 */
}